Debug/
example.dir/MinSizeRel/
example.dir/Release/
minigzip.dir/MinSizeRel/
minigzip.dir/Release/
*.log
*.tlog
*.obj
*.sdf
*.suo
*.user
ARM/Release/
ipch/
Release/
ReleaseW81/
ARM/Debug/
ARM/DebugW81/
ARM/DebugWP8/
DebugW81/
DebugWP8/
ARM/ReleaseWP8/
ReleaseWP8/
